.nav {
  display: flex;
  flex-direction: column;
}

.title {
  height: 72px;
  line-height: 72px;
  text-align: center;
  font-size: 20px;
}

.menu {
  height: 35px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  color: var(--text-green-color);
  border-bottom: 1px solid var(--line-green-color);
}
.menu li {
  height: 100%;
}
.menu .active {
  color: var(--foreground);
  border-bottom: 3px solid var(--light-green-color);
}
